[class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alerta-icone {
	display: table-cell;
	font-size: 25px;
	vertical-align: middle;
	line-height: 1;
	margin-right: 10px;
	float: left;
}
.alerta-icone.icon-warning {
	color: #CA2B2B;
}
.alerta-icone.icon-checkmark-circle {
	color: green;
}
.alerta-icone.icon-question {
	color: #666666;
}